section.l-works
  .l-works__col-left
    .c-works
      h3.c-works__header Сайт школы онлайн образования
      p.c-works__technologies
      a.c-works__button
  .l-works__col-right
    // здесь будет слайдер
