section.l-reviews
  h2.c-review__title Что обо мне говорят
  ul.c-review-list
    li.c-review-list__item
      img.c-review-list__img
      p.c-review-list__descr
      p.c-review-list__signature
  .c-review-contact
    h3.c-review-contact__title Связаться со мной
    form.c-review-contact__form
      input(type='text' placeholder='Ваше имя').c-review-contact__input
      input(type='email' placeholder='Ваш e-mail').c-review-contact__input
      textarea(row='20' placeholder='Ваше сообщение').c-review-contact__textarea
      button(type='submit' value='Отправить').c-review-contact__submit Отправить
      button(value='Очистить').c-review-contact__submit-reset Очистить
