section.l-map
  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d33898.6842062933!2d60.1121499!3d57.9256962!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1487855244244" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  .c-contacts
    h3.c-contacts__header Контакты
    ul.c-contacts__social
      -var contacts = ['phone','skipe','e-mail','location']
      each contact in contacts
        li.c-contacts__social-item
          a(href='#').c-contacts__icon=contact
          p.c-contacts__contacts
