section.l-author
  ul.c-social
    li.c-social__item
      img(src='../assets/img/sprite.svg').c-scial__item-vk
  .c-burger
  .c-card
    .c-card__author-img
      img(src='../assets/img/my_photo.png') 
    h2.c-card__name Sushentsov Andrey
    p.c-card__descr Web_development
  .c-tiangles
    svg(viewbox='0 0 1000 110' preserveAspectRatio='none').c-triangle-left
      polygon(points='0,0 0,110 1000,110')
    svg(viewbox='0 0 1000 110' preserveAspectRatio='none').c-triangle-right
      polygon(points='0,110 1000,110 1000,0')    
