.l-author{
  position: relative;
  min-height: 620px;
  width: 100%;
  background: url('/assets/img/main_page_bg.png') no-repeat center;
}
.c-social{
  position: absolute;
}
//классы для треугольников
.c-triangles{
  @include clearfix;
}
.c-triangle-left{
  @include triangle_position;
  fill:$color_page_about_1;
}
.c-triangle-right{
  @include triangle_position;
  right: 0;
  fill:$color_page_about_2;
}
