.l-main{
  min-height: 700px;
  height: 100%;
  background: url('/assets/img/main_page_bg.png') no-repeat center;
}
.l-developer{
  @include centred;
  height: 400px;
  width: 370px;
  background-color: rgba(0, 0, 0, 0.5);
}
.l-authorize{
  float: right;
  margin: 22px;
  border: 1px solid #fff;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  &:hover{
    background-color: rgba(255, 255, 255, 0.5);
  }
}
