include ../common/_template.pug

body
  .wrapper
    include ../common/section.author.pug
    include ../common/section.about.pug
    include ../common/section.map.pug
    include ../common/_footer.pug
